<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<title>Login</title>

</head>
<body>


		<a href="/pedidos/c-add-my-pedido">Nuevo Pedido</a>
<br>

		<table>
			<tr>
				<td>Id</td>
				<td th:text="${pedido.id}"></td>
			</tr>
			<tr>
				<td>Hora Pedido</td>
				<td th:text="${#dates.format(pedido.horapedido, 'dd-MM-yyyy HH:mm')}"></td>
			</tr>
			<tr>
				<td>Hora Preparado</td>
				<td th:if="${pedido.horapreparado!=null}" th:text="${#dates.format(pedido.horapreparado, 'dd-MM-yyyy HH:mm')}"></td>
				<td th:if="${pedido.horapreparado==null}" th:text="${'No aplica'}"></td>
			</tr>
			<tr>
				<td>Hora Cancelado</td>
				<td th:if="${pedido.horacancelado!=null}" th:text="${#dates.format(pedido.horacancelado, 'dd-MM-yyyy HH:mm')}"></td>
				<td th:if="${pedido.horacancelado==null}" th:text="${'No aplica'}"></td>
			</tr>
			<tr>
				<td>Hora Entregado</td>
				<td th:if="${pedido.horaentregado!=null}" th:text="${#dates.format(pedido.horaentregado, 'dd-MM-yyyy HH:mm')}"></td>
				<td th:if="${pedido.horaentregado==null}" th:text="${'No aplica'}"></td>
			</tr>
			<tr>
				<td>Estado Total</td>
					<!-- Para cancelado -->
					<td th:if="${(pedido.cancelado==1)}" th:text="Cancelado"></td>
					<!-- Para preparado -->
					<td th:if="${(pedido.preparado==1)}" th:text="Preparado"></td>
					<!-- Para entregado -->
					<td th:if="${(pedido.entregado==1)}" th:text="Entregado"></td>
					<!-- Para cancelado -->
					<td th:if="${(pedido.cancelado==0 and pedido.preparado==0 and pedido.entregado==0)}" th:text="Registrado"></td>
			</tr>
			
			<tr>
				<td>Observaciones</td>
				<td th:text="${pedido.observacion}"></td>
			</tr>
						<tr>
				<td>Valor Venta</td>
				<td th:text="${'S/ '+#numbers.formatDecimal(pedido.valorventa,0,'COMMA',2,'POINT')}"></td>
			</tr>
						<tr>
				<td>IGV</td>
				<td th:text="${'S/ '+#numbers.formatDecimal(pedido.igv,0,'COMMA',2,'POINT')}"></td>
			</tr>
									<tr>
				<td>Precio Venta</td>
				<td th:text="${'S/ '+#numbers.formatDecimal(pedido.precioventa,0,'COMMA',2,'POINT')}"></td>
			</tr>			
			
						<tr>
				<td>Nombre Direccion</td>
				<td th:text="${pedido.direccion.nombredireccion}+' '+${pedido.direccion.interior}+', '+${pedido.direccion.distrito.nombredistrito}"></td>
			</tr>
			</table>	
			
			<br>
			Detalle del pedido
			<br>
			<table>
			<tr>
			<td>Producto</td>
			<td>Precio</td>
			
			<td>Cantidad</td>
			<td>Subtotal</td>				
			</tr>
				<tr th:each="detallepedido : ${pedido.detallespedidos}">
					<td th:text="${detallepedido.producto.nombreproducto}"></td>
					<td th:text="${detallepedido.producto.precio}"></td>
					<td th:text="${detallepedido.cantidad}"></td>
					<td th:text="${detallepedido.subtotal}"></td>
				<tr>		
			</table>		

					

		<a href="/pedidos/c-list-my-pedido">Ver Mis Pedidos</a>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>
</html>