<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<title>Login</title>

</head>
<body>

	<br>
	<!-- 
Búsqueda de Pedidos

		<form action="#" th:action="@{/pedidos/do-buscar-pedido-list}"
			th:object="${cliente}" method="post">
			
			<input type="text" th:field="*{apellidos}" id="apellidos" placeholder="Apellidos a buscar...">
			<input type="submit" value="Buscar">
		</form>

 -->

	Pedidos asignados a ser entregados

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Hora Pedido</th>
				<th>Detalle de Pedido</th>
				<th>Observacion</th>
				<th>Direccion</th>
				<th>Importe</th>
				<th>Avanzar</th>
				<th>Cancelar</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="pedido : ${listPedido}">
				<td th:text="${pedido.id}"></td>
				<td th:text="${pedido.horapedido}"></td>

				<td>
				
					    <ul>
					         <li th:each="detallepedido : ${pedido.detallespedidos}" 
					         th:text="${detallepedido.cantidad}+'x '+${detallepedido.producto.nombreproducto}"></li>
					    </ul>
				
				</td>
				<td th:text="${pedido.observacion}"></td>
				<td th:text="${pedido.direccion.nombredireccion}+' '+${pedido.direccion.interior}+', '+${pedido.direccion.distrito.nombredistrito}"></td>
				<td th:text="${pedido.precioventa}"></td>
				
				<td>
					<form th:action="@{/flujopedidos/do-pedido-entregado}" method="post">
						<input type="hidden" id="id" name="id" th:value="${pedido.id}">
						<input type="submit" value="Pedido entregado">
					</form>
				</td>
				<td>
						<a th:href="@{/flujopedidos/c-cancel-pedido/{id}(id=${pedido.id})}">Cancelar Pedido</a>
				</td>
			</tr>
		</tbody>

	</table>
	<a href="/home">Home</a>


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>
</html>