<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<title>Login</title>

</head>
<body>

Hola <span th:text="${session.nombre_usuario_logeado}"></span>
<br>
Haz logeado como: <span th:text="${session.nombre_tipo_usuario_logeado}"></span>
<br>
<!-- MENU SUPER_ADMIN -->
<div th:if="${session.tipo_usuario_logeado == 6}">
<a href="/distritos/c-list-distrito">Gestionar Distritos</a>
<br>
<a href="/locales/c-list-local">Gestionar Locales</a>
<br>
<a href="/empleados/c-list-empleado">Gestionar Empleados</a>
<br>
<a href="/categorias/c-list-categoria">Gestionar Categorias</a>
<br>
<a href="/productos/c-list-producto">Gestionar Productos</a>
<br>
<a href="/clientes/c-list-cliente">Gestionar Clientes</a>
<br>
<a href="/usuarios/c-edit-my-password">Cambiar mi Password</a>
</div>

<!-- MENU ADMINISTRADOR TIENDA -->
<div th:if="${session.tipo_usuario_logeado == 1}">
<a th:href="@{/locales/c-edit-local-stock/{id}(id=session.id_local_empleado)}">Gestionar Locales</a>
<br>
<a href="/empleados/c-list-empleado">Gestionar Empleados</a>
<br>
<a href="/clientes/c-list-cliente">Gestionar Clientes</a>
<br>
<a href="/flujopedidos/c-list-pedido-registrado">Pedidos por Preparar</a>
<br>
<a href="/flujopedidos/c-list-pedido-preparado">Pedidos Asignados</a>
<br>
<a href="/usuarios/c-edit-my-password">Cambiar mi Password</a>
</div>



<!-- MENU COCINA -->
<div th:if="${session.tipo_usuario_logeado == 2}">
<a href="/flujopedidos/c-list-pedido-registrado">Pedidos por Preparar</a>
<br>
<a href="/usuarios/c-edit-my-password">Cambiar mi Password</a>
</div>

<!-- MENU ATENCION PUBLICO -->
<div th:if="${session.tipo_usuario_logeado == 3}">
<a href="/clientes/c-list-cliente">Gestionar Clientes</a>
<br>
<a href="/flujopedidos/c-list-pedido-preparado">Pedidos Asignados</a>
<br>
<a href="/usuarios/c-edit-my-password">Cambiar mi Password</a>
</div>

<!-- MENU DELIVERY -->
<div th:if="${session.tipo_usuario_logeado == 4}">
<a href="/flujopedidos/c-list-my-pedido-asignado">Pedidos por Entregar</a>
<br>
<a href="/usuarios/c-edit-my-password">Cambiar mi Password</a>
</div>


<!-- MENU CLIENTE -->
<div th:if="${session.tipo_usuario_logeado == 5}">
<br>
<a href="/pedidos/c-list-my-pedido">Gestionar Mis Pedidos</a>
<br>
<a href="/usuarios/c-edit-my-data">Gestionar Mis Datos</a>
<br>
<a href="/usuarios/c-edit-my-direccion">Gestionar Mis Direcciones</a>
<br>
<a href="/usuarios/c-edit-my-password">Cambiar mi Password</a>
</div>


	<form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
 

	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>
</html>