<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<title>Login</title>

</head>
<body>

	<div th:if="*{session.tipo_usuario_logeado==6}">


		<form action="#" th:action="@{/productos/do-edit-producto}"
			th:object="${producto}" method="post">

			<table>
				<tr>
					<td>Id</td>
					<td><input type="text" th:field="*{id}" id="id"
						placeholder="Id"></td>

				</tr>
				<tr>
					<td>Producto</td>
					<td><input type="text" th:field="*{nombreproducto}" id="nombreproducto"
						placeholder="Producto"></td>

				</tr>

				<tr>
					<td>Precio</td>

					<td><input type="text" th:field="*{precio}" id="precio"
						placeholder="Precio"></td>

				</tr>

				<tr>
					<td>Activo</td>

					<td><select 
						th:field="*{activado}">
							<option th:each="tipoactivo : ${listaTipoactivo}" th:value="${tipoactivo.id}"
								th:utext="${tipoactivo.tipo}" />
					</select></td>
					
				</tr>
				<tr>
					<td>Descripción</td>

					<td><input type="text" th:field="*{descripcion}"
						id="descripcion" placeholder="Descripción"></td>

				</tr>

				<tr>
					<td>Imagen</td>
					<td><input type="text" th:field="*{imagen}"
						id="imagen" placeholder="Imagen"></td>

				</tr>
				
				<tr>
					<td>Categoría</td>

					<td><select 
						th:field="*{categoria}">
							<option th:each="categoria : ${listaCategoria}" th:value="${categoria.id}"
								th:utext="${categoria.nombrecategoria}" />
					</select></td>

				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Editar"></td>
				</tr>

			</table>
		</form>
<br>
<a href="/productos/c-list-producto">Gestionar Productos</a>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>
</html>