<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<title>Login</title>

</head>
<body>

	<div>


		<form action="#" th:action="@{/empleados/do-edit-empleado}"
			th:object="${empleado}" method="post">

			<table>
				<tr>
					<td>Id</td>
					<td><input type="text" th:field="*{id}" id="id"
						placeholder="Id" readonly></td>

				</tr>
			
				<tr>
					<td>Nombres</td>
					<td><input type="text" th:field="*{nombres}" id="nombres"
						placeholder="Nombres"></td>

				</tr>

				<tr>
					<td>Apellidos</td>

					<td><input type="text" th:field="*{apellidos}" id="apellidos"
						placeholder="Apellidos"></td>

				</tr>

				<tr>
					<td>Tipo de Documento</td>

					<td><select 
						th:field="*{tipodocumento}">
							<option th:each="tipodocumento : ${listaTipodocumento}" th:value="${tipodocumento.id}"
								th:utext="${tipodocumento.tipo}" />
					</select></td>
					
				</tr>
				<tr>
					<td>Número de Documento</td>

					<td><input type="text" th:field="*{numerodocumento}"
						id="numerodocumento" placeholder="Número de Documento"></td>

				</tr>
				
				
				
				

				<tr>
					<td>Local</td>

					<td><select 
						th:field="*{local}">
							<option th:each="local : ${listaLocal}" th:value="${local.id}"
								th:utext="${local.nombrelocal}" />
					</select></td>

				</tr>
						
		

				<tr>
					<td>Tipo de Empleado</td>

					<td><select 
						th:field="*{tipoempleado}">
							<option th:each="tipoempleado : ${listaTipoempleado}" th:value="${tipoempleado.id}"
								th:utext="${tipoempleado.tipo}" />
					</select></td>

				</tr>
				
				<tr>
					<td>Teléfono Celular</td>
					<td><input type="text" th:field="*{telefono}" id="telefono"
						placeholder="Teléfono Celular"></td>

				</tr>

				<tr>
					<td>Email</td>

					<td><input type="text" th:field="*{email}" id="email"
						placeholder="Email"></td>

				</tr>



				<tr>
					<td></td>
					<td><input type="submit" value="Editar"></td>
				</tr>

			</table>
		</form>
	
	
		<form action="#" th:action="@{/empleados/do-edit-empleado-password}"
			th:object="${usuario}" method="post">
			<table>
			<tr>
					<td>Id</td>
					<td><input type="text" th:field="*{id}" id="id"
						placeholder="Id" readonly></td>

				</tr>
			
				<tr>
					<td>Usuario</td>
					<td><input type="text" th:field="*{nombreusuario}" id="nombreusuario"
						placeholder="Usuario" readonly></td>

				</tr>

				<tr>
					<td>Password</td>

					<td><input type="password" th:field="*{password}" id="password"
						placeholder="" required></td>

				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Cambia Password"></td>
				</tr>
			</table>
			</form>
	
<br>
<a href="/empleados/c-list-empleado">Gestionar Empleados</a>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>
</html>